.flip-card-container {
    display:  flex;
    margin-top: 50px;
    justify-content: center;

}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-left: 15px;
    margin-bottom: 50px;
    margin-right: 25px;
}



.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-front img{
    height: 100%;
    width: 100%;
}

.flip-card-back > a > h3{
    margin-top: 30%;
}

.flip-card-back {
    background-color: #f18805;
    color: white;
    transform: rotateY(180deg);
}

input[type="file"]{
    display: none;
}

.class_label{
    color: white;
    height: 30px;
    width: 180px;
    background-color: coral;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.class_label:hover{
    background-color: orangered;
}